/* * {
  outline: 2px solid red;
} */

body {
  background: rgb(112, 100, 52); 
  text-align: center;
}

.card {
  background: white;
  width: 500px;
  height: 520px;
  margin: 0px auto;
}

h1 {
  border-bottom: 2px solid rgb(107, 91, 27);
  padding: 16px;
  margin: auto 30px;
}

.btn {
  display: inline-block;
  width: 80%;
  cursor: pointer;
  margin: 10px auto;
  padding: 5px;
  border-right: 2px solid rgb(107, 91, 27);
  border-bottom: 2px solid rgb(107, 91, 27);
}